:global(.ant-tabs-bar) {
	border-color: #22baa0;
}

:global(.ant-tabs-nav) div:first-child + div{
	background: #fff !important;
	border: 0 !important;
	color: #333;
	font-size: 15px;
}


:global(.ant-tabs):global(.ant-tabs-card) > :global(.ant-tabs-bar) :global(.ant-tabs-tab-active){
	border-color: #22baa0;
}

:global(.ant-tabs):not(.ant-tabs-vertical) > :global(.ant-tabs-content){
	min-height: 600px;
}

.marginBottom10{
    margin-bottom: 10px;
}
.CheckboxGroup{
    margin-bottom: 10px;
}
.CheckboxGroup :global(.ant-checkbox-group){
    width: 84%;
    display: inline-block;
} 

:global(.ant-popover) {
    z-index: 50;
}